DOCUSEAL_KEY = 
DOCUSEAL_URL = 
SMTP_SERVER = 
SMTP_PORT = 
IMAP_SERVER = 
IMAP_PORT = 
SENDER_EMAIL = 
SENDER_PASSWORD = 
SPLYNX_HOST = 
SPLYNX_AUTH = 
NEXTCLOUD_USER = 
NEXTCLOUD_PASS = 
NEXTCLOUD_CHAT_LINK = 